@import "./styles/variables.scss";

.mainContent {
  flex: 1 0 auto;
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $min-width-lg) {
    align-items: center;
    flex-wrap: nowrap;
    margin-left: 50px;
    margin-right: 50px;
  }
}
